#printIssue{
	width: 595px;
	height: 800px;
	z-index:88888;
}
#printIssueDownload{
	margin: 8px 0 8px 0;
	border: 1px solid #DDD;
	background: #EEE;
	padding: 8px;
	text-align: center;
	border-radius: 4px;	
}
/*********************OTHER STUFF*********************/

.editorsPick {
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.editorsPick h1, .autofocusPhoto h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	text-align:center;
	color: #58020f;
	display:inline-block;
	width:100%;
	border-top: 1px solid #d6b5bf;
	border-bottom: 1px solid #d6b5bf;
	margin:5px 0 5px 0;
}

/*********Blogroll********/
.column-1 {
	width:595px;
	margin: 0 0 5px 0;
}
.column-2 {
	display:block;
	width: 288px;
	margin:0 0 5px 0;
}
.column-3 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 268px;
	height:300px;
}
.column-4 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 137px;
}
.right {
	float:right;
	padding-left:10px;
}
.left {
	float:left;
	padding-right:10px;
}
.blogroll, .recent, .autofocusPhoto, .featuredCategory, .searchPost {
	display:block;
	margin:5px 0 5px 0;
	padding:0 0 5px 0;
}
.autofocusPhoto {
	padding:0 0 5px 10px;
}
.blogroll, .recent, .divider, .featuredCategory, .searchPost {
	border-bottom:1px solid #d6b5bf;
}
.blogroll {
	padding: 0 0 20px 0;
}
.last,
.recent:nth-child(5),
.featuredCategory:nth-child(6n+6) {
	border:none !important;
}
.recent h1, .autofocusPhoto h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	color:#892846;padding:0;
}
.recent h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	text-transform:uppercase;padding:0 5px 0 0;
	display:inline-block;
}
.recent h3.timestamp {
	color:#892846;
}
.recent p, .autofocusPhoto p, .editorsPick a, .editorsPick a:visited , .editorsPick p, .featuredCategory p, .article p.edit, .searchPost p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	color:#000;
}
.featuredCategory h2 a,
.recent h2 a,
.searchPost h2 a{
	display:block;
	width:100%;
}
.featuredCategory h2 a:link, .featuredCategory h2 a:visited, .featuredCategory h2 a:hover, .featuredCategory h2 a:active,
.searchPost h2 a:link, .searchPost h2 a:visited, .searchPost h2 a:hover, .searchPost h2 a:active,
.recent h2 a:link, .recent h2 a:visited, .recent h2 a:hover, .recent h2 a:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	float:left;
	text-align:left;
	font-weight:bold;
}
.featuredCategory h2 a:link, .featuredCategory h2 a:visited,
.searchPost h2 a:link, .searchPost h2 a:visited,
.recent h2 a:link, .recent h2 a:visited {
	color:#5e5d5d;
	text-decoration:none;
}
.featuredCategory h3 a:link, .featuredCategory h3 a:visited,
.searchPost h3 a:link, .searchPost h3 a:visited,
.recent h3 a:link, .recent h3 a:visited {
	color:#000000;
	text-decoration:none;
}
.featuredCategory h2 a:hover,
.searchPost h2 a:hover,
.recent h2 a:hover,
.featuredCategory h3 a:hover,
.searchPost h3 a:hover,
.recent h3 a:hover,
.editorsPick a:hover {
	color:#892846;
	text-decoration:underline;
}
.featuredCategory h2 a:active,
.searchPost h2 a:active,
.recent h2 a:active,
.featuredCategory h3 a:active,
.searchPost h3 a:active,
.recent h3 a:active,
.editorsPick a:active {
	color:#000;
	text-decoration:none;
}
.featuredCategoryTitle {
	background:#CCCCCC;
	width:100%;
	margin:20px 0 0 0;
}
.featuredCategoryTitle h1 {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	background:#892846;
	padding:2px 5px 2px 5px;color:#FFFFFF;
}
.featuredCategory p.timestamp, .featuredCategory p.categories,
.searchPost p.timestamp, .searchPost p.categories,
.article .timestamp, .article .categories {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	color:#892846;
}
.featuredCategory p.categories,
.searchPost p.categories,
.article p.categories {
	display:inline;
	color:#000000;
	font-weight:bold;
}
ul.categories, ul.categories li {
	list-style:none;
	margin:0 5px 0 5px;display:inline-block;
}
.categories a:visited, .categories a {
	font-family:Arial, Helvetqica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	color:#892846;
	text-align:left;
}
.categories a:hover {
	text-decoration:underline;
}
.editorsPick img, .editorsPick p {
	padding:0 0 5px 0;}
.autofocusPhoto p.caption {
	color:#892846 !important;
}
.blogroll h1 a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	display:inline-block;
	text-decoration:none;
}
.blogroll ul {
	margin:0 0 0 15px;
	list-style:none;
	font-family:Arial, Helvetqica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	text-align:left;
}
.blogroll ul a{
	text-decoration:none;
}
.blogroll ul a:link, .blogroll ul a:visited  {
	color:#000;
}
.blogroll ul a:hover {
	color:#892846;
}
.blogroll ul a:active {
	color:#000;
}
.blogroll h1 a:link, .blogroll h1 a:visited {
	color:#a3a3a3;
}
.blogroll h1 a:hover {
	color:#892846;
}
.blogroll h1 a:active {
	color:#000;
}
.more a {
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px !important;
	font-weight:bold;
	text-align:right;
}
.more a:link, .more a:visited {
	color:#000;
	text-decoration:none;
}
.more a:hover {
	color:#892846;
	text-decoration:underline;
}
.more a:active {
	color:#000;
	text-decoration:underline;
}
.column-1 .more {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	color: #892846;
}
.more {display:none;}
.blogroll .timestamp {
	font-weight:normal;
}
.border {
	border-right:1px solid #d6b5bf;
}
.attachment-index-thumbnail {
	max-height:138px;
	max-width:138px;
}
#secondNav li.last:after {
	display:inline;
	content:"";
}