body {
	background:#dcdcdc url(images/bg.png) repeat-x;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#container {
	width:698px;
	background:url(images/stripBg.png);
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
}
#containerHeader {
	background:url(images/headerBg.png) no-repeat;
	width:100%;
	height:84px;
}
#containerFooter {
	background:url(images/bottomBg.png) no-repeat;
	width:100%;
	height:86px;
}
#page {
	margin:0 0 0 109px;
	width:500px;
}