@charset "UTF-8";
/* CSS Document */

/*------------------------------------*\
	~FOOTER
\*------------------------------------*/

#footer {
	position:relative;
	text-align:center;
	padding:10px 0 10px 0;
	width:600px;
	margin:15px auto 0 auto;
	border-top:1px solid #58020f;
}

#footer ul,
#footer li {
	display: inline;
	margin: 0;
	padding: 0;
}
	#footer a:link,
	#footer a:visited {
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:12px;
		text-decoration:none;
	}
	#footer a:link,
	#footer a:visited {
		color: #58020f;
	}
	#footer a:hover {
		text-decoration:underline;
	}
	#footer li:after {
		display:inline;
		content:" \007c";
	}
	#footer li.last:after {
		display:inline;
		content:"";
	}


#footerLogoSection {
	margin:10px auto 0 auto;
	height:54px;
	width:141px;
}
	#ceraLogo {
		background: url(../images/logos.png);
		background-position:-345px -31px;
		float:left;
		height:54px;
		width:78px;
	}
	#footerLogo {
		background: url(../images/logos.png);
		border-right:1px solid #58020f;
		float:left;
		height:42px;
		margin:10px 10px 0 0;
		width:43px;
	}
	/** RECORD LOGO FOOTER*/
#footerLogo {
	background-position:-303px 0;
}

.spacer {
	height:5px;
	width:100%;
}
html.autofocus #footerLogo {
	background-position:-303px -41px;
}
	html.autofocus #footer {
		border-top:1px solid #FFF;
	}
html.autofocus #footer a:link,
html.autofocus #footer a:visited {
	color: #FFF;
}
html.autofocus #footer li:after {
	color:#fff;
}