@charset "UTF-8";
/*------------------------------------*\
	~NAV
\*------------------------------------*/

/**
 * Menu Positioning 
 */
#primaryNavRight,
#primaryNavLeft,
#primaryNav {
	position:absolute;
}

/**
 * Menu Ribbon Background
 */
#primaryNavRight,
#primaryNavLeft {
	background: url(../images/menuBg.png) no-repeat;
	height:59px;
	width:29px;
}
#primaryNavRight{
	background-position: 0 0;
	right: -28px;
	top: 11px;

}
#primaryNavLeft{
	background-position: 0 -59px;
	left: -15px;
	top: 13px;
}
#primaryNav {
	background:url(../images/menuBg.png)0 -116px;
	height: 19px;
	left:14px;
	margin:0px 0 10px 0;
	padding:11px 0px 9px 0;
	top:14px;
	width: 900px;
	z-index:900;
}

/**
 * Menu Navigation
 */

#primaryNav ul,
#primaryNav li {
	display: inline;
	margin: 0;
	padding: 0;
}
#primaryNav li {
	float:left;
	margin-right:30px;
	overflow:hidden;
	text-indent:-9999px;
}
	#primaryNav li a {
		background: url(../images/Menu.png) no-repeat;
		display:block;
		height: 10px;
		height:100%;
		width:100%;
	}
		/**
		 * News
		 */
		#primaryNav li a.news{
			background-position:0 0;
			width: 30px;
		}
		#primaryNav li a.news:hover{
			background-position:0 -14px;
		}
		#primaryNav li a.news:selected{
			background-position:0 0;
		}
		
		/**
		 * Opinions & Editorials
		 */
		#primaryNav li a.opEd{
			background-position:-31px 0;
			width: 122px;
		}
		#primaryNav li a.opEd:hover{
			background-position:-31px -14px;
		}
		#primaryNav li a.opEd:selected{
			background-position:-31px 0;
		}
		
		/**
		 * Arts & Entertainment
		 */
		#primaryNav li a.arts{
			background-position:-153px 0;
			width: 120px;
		}
		#primaryNav li a.arts:hover{
			background-position:-153px -14px;
		}	
		#primaryNav li a.arts:selected{
			background-position:-153px 0;
		}
		
		/**
		 * Features
		 */
		#primaryNav li a.features{
			background-position:-273px 0;
			width: 48px;
		}
		#primaryNav li a.features:hover{
			background-position:-273px -14px;
		}
		#primaryNav li a.features:selected{
			background-position:-273px 0;
		}
		
		/**
		 * Middle Division
		 */
		#primaryNav li a.MD{
			background-position:-322px 0;
			width: 88px;
		}
		#primaryNav li a.MD:hover{
			background-position:-322px -14px;
		}	
		#primaryNav li a.MD:selected{
			background-position:-322px 0;
		}
		
		/**
		 * Lions Den
		 */
		#primaryNav li a.LD{
			background-position:-410px 0;
			width: 60px;
		}
		#primaryNav li a.LD:hover{
			background-position:-410px -14px;
		}
		#primaryNav li a.LD:selected{
			background-position:-410px 0;
		}
		
		/**
		 * Autofocus
		 */
		#primaryNav li a.autofocus{
			background-position:-470px 0;
			width: 60px;
		}
		#primaryNav li a.autofocus:hover{
			background-position:-470px -14px;
		}
		#primaryNav li a.autofocus:selected{
			background-position:-470px 0;
		}
			
	
/**
 * Search Navigation
 */
#searchwrapper {
	background: url(../images/search.png) no-repeat;
	height:21px;
	left:735px;
	margin:0px;
	padding:0px;
	position:relative;
	top:6px;
	width:184px; 
	z-index:999;
}
	#searchwrapper form {
		display:inline ; 
	}
.searchbox {
	background-color:transparent;
	border:0px; 
	height:21px;
	left:9px;
	outline:none;
	position:absolute; 
	top:0px;
	width:145px;
}
.searchbox_submit {
	background-color:transparent; 
	border:0px;
	height:15px;
	left:155px;
	position:absolute; 
	top:4px;
	width:16px;
}